
.favorite{
   position: absolute;
   left: 0;
   top: 0;
   cursor: pointer;
   
}
.favorite__img{
   width: 22px;
   height: 22px;
   padding: 11px;
}
.card__img{
   width: 205px;
   height: 152px;
   margin: 2px;
   border: 2px solid #f3f3f3;
   border-radius: 18px;
}
.card__info{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 190px;
}

.card__text{
   font-weight: 400;
   font-size: 18px;
   font-style: italic;
   font-weight: 700;
}
.cards__list{
   min-height: 300px;
}
.info__price{
   display: flex;
   flex-direction: column;
}
.info__price span{
   font-size: 14px;
   opacity: 0.5;
   line-height: 1.2em;
   
}
.info__button{
   background: #fff;
   border: 1px solid #f3f3f3;
   box-sizing: border-box;
   border-radius: 8px;
   width: 32px;
   height: 32px;
   cursor: pointer;

}
.info__button img{
   width: 15px;
   height: 15px;
}