
.cupecakes__container{
	grid-area: contentFirst;
	width: 100%;
	left: 0px;
	top: 0px; 
}

.cupecake{
	padding-top: 5px;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	
}

.cupecakes__block:hover{
   box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
   transform: translateY(-5px);
	
}

.cupecakes__block{
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;

}

.cupecakes__block .content {
	position: absolute;
	overflow: hidden;
	top: 90%;
	left: 23%;
}

.cupecakes__block a img {
	display: block;
	position: relative;
}

.cupecakes__block .content a{
	display: inline-block;
	text-decoration: none;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
}

.cupecakes-view .content a{
	background-color: rgba(12 19 27 0.6);
	opacity: 0;
}

.cupecakes-view:hover .content a{
	opacity: 1;
}

