
.appHeader {
	width: 100%;
	grid-area: header;
	background-color: #2F4F4F;
}
.appHeader__container{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.icons{
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button__main{
	min-width: 80px;
	height: 33px;
	border-radius: 10px;
	font-family: inherit;
	appearance: none;
	border: 0;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
}
.button__main:hover{
	background: #667caa;
}
.button__main:focus{
	outline: none;
  	box-shadow: 0 0 0 3px #cbd6ee;
}

.icons img{
	max-width: 35px;
	cursor: pointer;

}

.appHeader__logo{
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	width: 20%;
}
